.prevCard {
  display: none;
}

.activeDictCard {
  padding: 10px;
  height: 6rem;
  min-width: 4rem;
}

.nextCard {
  display: none;
}

.rightBtn {
  display: flex;
  right: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}

.leftBtn {
  display: flex;
  left: -1rem;
  margin-top: 2rem;
  cursor: pointer;
}

.dictionary {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
