.prevCard {
  display: none;
}

.activeDictCard {
  margin-top: 10px;
  padding: 10px;
  height: 6rem;
  min-width: 4rem;
  background-color: #d4e6f1;
  border-radius: 15px;
}

.nextCard {
  display: none;
}

.search {
  padding: 10px;
}

.rightBtn {
  display: flex;
  right: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}

.glasses,
.clear {
  margin: 5px;
  cursor: pointer;
}

.listBtn {
  cursor: pointer;
}

.cardBtn {
  cursor: pointer;
}

.listBtn {
  margin-top: 10px;
}

.leftBtn {
  display: flex;
  left: -1rem;
  margin-top: 2rem;
  cursor: pointer;
}

.dictionary {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

hr.solidHR {
  border-top: 2px solid #b2bfc7;
  width: 20%;
  margin-top: 20px;
}

.container {
  cursor: pointer;
  background-color: #d4e6f1;
  border-radius: 20px;
}

.plus {
  padding: 5px;
}
.css-s18byi {
  background-color: #d4e6f1;
  margin-top: 10px;
  overflow: visible;
}

.css-8hdryf {
  display: flex;
  /* width: 200px; */
  /* height: 200px; */
  align-content: center;
  /* flex-wrap: wrap; */
  overflow: visible;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 10px;
}

.favsearchcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
