#langselect {
  padding: 10px;
  display: inline;
}

#search {
  padding: 10px;
}

#searchfield {
  padding: 10px;
  max-width: 100px;
}

#input {
  padding: 10px;
}

.langDropdowns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.translationForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.translation {
  margin-top: 1.4rem;
  font-size: 10pt;
}

.addToDict {
  margin-top: 1rem;
}

.ui celled list {
  padding: 15px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.seeAlso {
  text-decoration: none;
}

.mw-editsection {
  display: none;
}

.mw-parser-output .portalbox.tright {
  display: none;
}
