@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

#langselect {
  padding: 10px;
  display: inline;
}

#search {
  padding: 10px;
}

#searchfield {
  padding: 10px;
  max-width: 100px;
}

#input {
  padding: 10px;
}

.langDropdowns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.translationForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.translation {
  margin-top: 1.4rem;
  font-size: 10pt;
}

.firstResult {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #d4e6f1;
}

.item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #d4e6f1;
}

.addToDict {
  margin-top: 1rem;
  cursor: pointer;
}

.langFromTo {
  margin-top: 0.5rem;
}

.ui celled list {
  padding: 15px;
}
ul {
  list-style-type: none;
  padding: 5px;
  /*background-color: #d4e6f1;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /*padding: 0;
  margin: 0;*/
}
li {
  padding: 10px;
  background-color: #d4e6f1;
  margin: 5px;
}

a {
  text-decoration: none !important;
  color: black;
  font-style: italic;
}

a:hover {
  color: #276b95;
}

.nodeco:hover {
  color: #276b95;
}

.linksWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.metadata {
  display: none;
}

.mw-editsection {
  display: none;
}

.mw-parser-output .portalbox.tright {
  display: none;
}

.navbox-container {
  display: none;
}

.bandeau-portail {
  display: none;
}
