#langselect {
  padding: 10px;
  display: inline;
}

#search {
  padding-top: 10px;
}

#searchfield {
  padding: 10px;
}

#input {
  padding: 10px;
}

.ui celled list {
  padding: 15px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.seeAlso {
  text-decoration: none;
}

.mw-editsection {
  display: none;
}

.mw-parser-output .portalbox.tright {
  display: none;
}
